:root {
    --border: 3px;
    --color1: #00d0ff;
    --color2: #bc004e;
    --from: 30deg;
    --distance: 46%;
  }

body {
    margin: 0px;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

// about me 

section.bloc.aboutMe {

    .aboutMe__content__body {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 400px;
        grid-column-gap: 100px;
        align-items: center;
        padding: 20px;

        @include smallScreen() {
            grid-template-columns: 1fr;
            grid-template-rows: 150px, 1fr;
            grid-auto-flow: row;
            padding: 0px;
            margin-bottom: 4%;
        }

        .body__img {
            justify-self: center;
            position: relative;
            padding: 30px;
            width: 12rem;
            margin: 1rem auto;
            grid-row: 1;
            grid-column: 1/-1;
        
            &::after {
                content: '';
                border-radius: 999px;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: conic-gradient(
                from var(--from),
                var(--color1),
                var(--color2) var(--distance),
                transparent var(--distance)
                );
                -webkit-mask: radial-gradient(
                farthest-side,
                transparent calc(100% - var(--border)),
                #fff calc(100% - var(--border) + 1px)
                );
                mask: radial-gradient(
                farthest-side,
                transparent calc(100% - var(--border)),
                #fff calc(100% - var(--border) + 1px)
                );
            }
            .profilImg {
                border-radius: 999px;
                display: block;  
                width: 190px;
                height: 197px;
                background-image: url("/assets/img/photo_cv_2.0.jpg");
                background-size: cover;
                background-position-y: -20px;
            }
        }

    }

    .aboutMe__content__btn {
        background-color: $wine;
        margin-left: 15%;
        margin-top: 2%;

        @include smallScreen {
            margin: 0 auto;
        }

        .cv__btn {
            color: white;
            display: inline-flex;
            align-items: center;

            .bi {
                margin-left: 10px;
                
                path{
                    color: white;
                }
            }
        }
    }
}


// skills

.skills__content {

    &__body {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-flow: row;
        column-gap: 2rem;
        row-gap: 2rem;
        align-content: center;
        justify-content: center;
        margin-top : 1rem;

        @include smallScreen {
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 1rem;
        }

        @include x_smallScreen {
            grid-template-columns: 25% 25% 25%;

        }
        .card-skills {
            display: flex;
            justify-content: center;

            .card-skills__content {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;

                &__img {
                    height: 6rem;
                    width: 6rem;
                    border: rgba(66, 103, 124, 0.2) ridge 4px;
                    border-radius: 100%;
                    overflow: hidden;
                    margin: 0.5em;
                    display: flex;
                    justify-content: center;

                    @include smallScreen {
                        height: 4rem;
                        width: 4rem;
                    }

                    img {
                        max-height: 70%;
                        max-width: 70%;
                        align-self: center;
                        justify-self: center;
                    }
                }

            }    
        }
    }

}
    .skills__degree {
        margin: 7% 0%;

        @include x_smallScreen {
            margin: 15% 0%;
            padding: 3%;
        }
        &__content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-flow: row;
            column-gap: 1%;
            row-gap: 6%;

            @include smallScreen {
                grid-template-columns: 1fr 1fr;
                margin-bottom: 8rem;
            }

            @include x_smallScreen {
                grid-template-columns: 1fr;
                row-gap: 0%;
                margin-bottom: auto;
            }

            .card-degree {
                text-align: center;
                    a svg path {
                        color: $wine;
                    }

                    img.degree {
                        max-width: 350px;

                        @include smallScreen {
                            max-width: 80%;
                        }
                    }
                }

                h3 {
                    font-size: 17px;
                    color: $grey;
                    margin: 2% auto;
                }
            }
        }

svg.bi.bi-zoom-in {
    color: $wine;
    height: 1.2em;

    &:hover {
        transform: scale(1.1);
    }
}

// achievements

.achiev__content {

    &__body {

        display: grid;
        row-gap: 3rem;
        .card {
            border: $grey 2px solid;
            padding: 2%;
            display: grid;
            grid-auto-flow: column; 

            @include smallScreen {
                grid-auto-flow: row;
                grid-template-columns: 1fr;
            }

            &__title {
                grid-row: 1;
                grid-column: 2;
                border-bottom: solid 1px $light_blue;
                height: 4rem;

                @include smallScreen {
                    grid-row: 1;
                    grid-column: 1;
                    margin-bottom: 1rem;
                    padding-bottom: 1rem;
                }

                h3 {
                    font-size: 22px;
                    font-weight: normal;
                    text-align: center;
                    text-decoration: underline rgb(145, 103, 41);
                    color: #0b2e5c;

                    @include x_smallScreen {
                        font-size: 18px;
                    }
                }

            }

            &__img {
                grid-column: 1;
                grid-row: 1/4;
                text-align: center;
                align-self: center;
                margin: 0;

                img {
                    width: 75%;
                    place-self: center;
                    @include smallScreen {
                        width: 90%;
                    }
                }

                @include smallScreen {
                    grid-row: 2/2;
                }
            }

            &__desc {
                margin-left: 2%;
                grid-row: 2;
                grid-column: 2;

                @include smallScreen {
                    grid-row: 3;
                    grid-column: 1;
                }
            }

            &__link {
                grid-row: 3;
                grid-column: 2;
                font-size: 18px;
                color: $wine;
                display: grid;
                grid-template-rows: 1fr 1fr;
                margin-left: 2%;
                &--one {
                    grid-template-rows: 1fr;
                }

                @include x_smallScreen {
                    font-size: 16px;
                    margin: 2%;

                }

                .github {
                    display: inline-flex;
                    column-gap: 10px;
                    align-items: center;

                    a {
                        margin-left: 20px;
                        align-self: center;

                        @include x_smallScreen {
                            margin-left: 0px;
                        }

                        svg {
                            height: 2rem;
                            width: 2rem;

                            path {
                                color: $wine;
                            }
                        }

                        &:hover {
                            transform: scale(1.2);
                        }
                    }


                    @include xx_smallScreen {
                        display: block;
                    }
                }

                .web {
                    display: flex;

                    a {
                        font-size: 1rem;
                        font-style: oblique;
                        color: $wine;
                        padding-left: 4px;

                        &:hover {
                            color: $light_blue;
                        }
                    }
                }

                @include smallScreen {
                    grid-row: 4;
                    grid-column: 1;
                }
            }
        }
    }
}


// contact

section.bloc .contact__content {

    &__body {
        display: grid;
        grid-auto-flow: column;
        margin-bottom: 3%;
        padding: 0.5rem;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;

        .link {
            font-size: 1rem;
            background-color: $dark_blue;
            padding: 1rem;


            a.contact__link {
                display: block;
                color: white;

            }

            &:hover {


                a.contact__link {
                    color: $dark_white;
                }
            }
        }

        @include smallScreen {
            grid-auto-flow: row;
            row-gap: 25px;
            grid-template-columns: 1fr;
            padding: 0;
        }

    }

    &__form {
        background-color: #4893d22e;
        padding: 1rem;
        margin: 1% 10%;

        @include x_smallScreen {
            padding: 1.3rem;
            margin: 0;
            margin-top: 10%;
        }


        .form__title {
            font-size: 1rem;
            align-items: center;
            display: grid;
            grid-column-gap: 2%;
            color: $dark_blue;
            margin-bottom: 2%;

            @include x_smallScreen {
                justify-items: center;
            }

            h3 {
                margin-top: 1%;
                margin-bottom: 2%;
            }
        }


        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 1rem;
            column-gap: 5%;
            padding: 0 3%;
            justify-items: center;

            @include smallScreen {
                grid-template-columns: 1fr;
                grid-auto-flow: row;
                row-gap: 0.5rem;
                padding: 0% 2%;

            }

            input.form__contact__field {
                border:rgba(132, 181, 218, 0.524) solid 2px;;
                background-color: $white_op;
                grid-column: 1;
                padding-left: .5rem;

                @include smallScreen {
                    grid-column: 1;
                }
            }

            textarea.form__contact__field {
                border:rgba(132, 181, 218, 0.519) solid 2px;;
                background-color: $white_op;
                grid-column: 2;
                grid-row: 1/4;
                padding-left: .5rem;

                @include smallScreen {
                    grid-column: 1;
                    grid-row: inherit;
                }
            }

            button.send {
                grid-row: 4;
                grid-column: 1/3;
                background-color: $dark_blue;
                color: white;
                margin: auto;
                border: none;
                margin-top: 3%;
                padding: 2%;
                font-size: 1.1rem;

                @include smallScreen {
                    grid-column: 1;
                    grid-row: inherit;

                }
            }

        }
    }
}

p.copy-right__text {
    color: white;
}