.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 0;
    max-width: 80%;
    max-height: 70%;
    display: grid;
    row-gap: .5rem;
    text-align: justify;
    place-content: center;
    @include smallScreen() {
        width: 90%;  
        max-width: 90%;
        max-height: 90%;
    }
    img {
        width: 95%;
        justify-self: center;
        @include smallScreen() {
            width: 90%;  
        }
    }
}

/* The Close Button */
.close {
    color: #aaaaaa;
    text-align: right;
    font-size: 2.2rem;
    font-weight: bold;
    background-color: white;
    padding: .5rem;
    width: 85%;  
    justify-self: center;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}